body{
    /* background:dodgerblue; */
    background:black;

    color:white;
    text-align: center;
}
li{
font-size:20px;
}
li:hover{
    font-size:20px;

    text-decoration:line-through

}
#myForm{
margin: 20px;
padding-left: 30px;
padding-right: 30PX;
    background:white;
    overflow:auto;
    width:500px;
    float:right;
    margin-right: 20;
    border-radius: 40px;
}
#navb{
    background:#66CDAA
    
}
#igbutton{
    background-color: #66CDAA;
}
